.carousel {
  @apply max-w-sm sm:max-w-lg md:max-w-xl lg:max-w-3xl 2xl:max-w-5xl;

  .navPrev,
  .navNext {
    @apply absolute translate-y-1/2 w-12 h-12 cursor-pointer bg-no-repeat bg-contain bg-center hover:opacity-100 ease-in-out transition-all duration-500 bg-gradient-to-r from-black to-gray-600 rounded-full shadow-lg;
    z-index: 1;
    top: calc(50% - 2.5em);
    &:hover {
      scale: (1.1);
    }
  }

  .icon {
    color: white;
    font-size: 1.5em;
    margin-top: 12px;
  }

  .navPrev {
    .icon {
      margin-left: 10px;
    }
  }

  .navNext {
    .icon {
      margin-left: 13px;
    }
  }
}
