.carousel {
  @apply max-w-[600px];

  .navPrev,
  .navNext {
    @apply absolute translate-y-1/2 w-12 h-12 cursor-pointer bg-no-repeat bg-contain bg-center hover:opacity-100 hover:scale-110 ease-in-out transition-all duration-500 bg-black rounded-full shadow-lg;
    z-index: 1;
    top: calc(50% - 2.5em);
  }

  .icon {
    color: white;
    font-size: 1.5em;
    margin-top: 12px;
  }

  .navPrev {
    @apply left-2;
    .icon {
      margin-left: 10px;
    }
  }

  .navNext {
    @apply right-2;
    .icon {
      margin-left: 13px;
    }
  }
}
